In [34]:
import pandas as pd

In [35]:
# https://www.kaggle.com/utathya/imdb-review-dataset
imdb_master = pd.read_csv('../../input/imdb_master.csv', encoding='ISO-8859-1')

In [36]:
imdb_master.head()

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt

In [37]:
imdb_master_filtered = imdb_master[['review', 'label']]

In [38]:
imdb_master_filtered['label'].value_counts()

unsup    50000
pos      25000
neg      25000
Name: label, dtype: int64

In [39]:
def label_to_sentiment(x) :
    if x == "neg" : return 0
    elif x == "pos" : return 1
    elif x == "unsup" : return -1

In [40]:
# sentiment 컬럼 생성
imdb_master_filtered['sentiment'] = imdb_master_filtered['label'].apply(label_to_sentiment)

C:\Users\shkim\AppData\Local\conda\conda\envs\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
imdb_master_filtered.head()

                                              review label  sentiment
0  Once again Mr. Costner has dragged out a movie...   neg          0
1  This is an example of why the majority of acti...   neg          0
2  First of all I hate those moronic rappers, who...   neg          0
3  Not even the Beatles could write songs everyon...   neg          0
4  Brass pictures (movies is not a fitting word f...   neg          0

In [42]:
imdb_master_filtered[imdb_master_filtered.label == 'unsup']

                                                  review  label  sentiment
50000  I admit, the great majority of films released ...  unsup         -1
50001  Take a low budget, inexperienced actors doubli...  unsup         -1
50002  Everybody has seen 'Back To The Future,' right...  unsup         -1
50003  Doris Day was an icon of beauty in singing and...  unsup         -1
50004  After a series of silly, fun-loving movies, 19...  unsup         -1
...                                                  ...    ...        ...
99995  Delightfully awful! Made by David Giancola, a ...  unsup         -1
99996  Watching Time Chasers, it obvious that it was ...  unsup         -1
99997  At the beginning we can see members of Troma t...  unsup         -1
99998  The movie was incredible, ever since I saw it ...  unsup         -1
99999  TCM came through by acquiring this wonderful, ...  unsup         -1

[50000 rows x 3 columns]

In [43]:
# 확인
check_pos = imdb_master_filtered.loc[imdb_master_filtered['label'] == 'pos', ['label','sentiment']]
check_neg = imdb_master_filtered.loc[imdb_master_filtered['label'] == 'neg', ['label','sentiment']]
check_unsup = imdb_master_filtered.loc[imdb_master_filtered['label'] == 'unsup', ['label','sentiment']]

In [44]:
check_pos['sentiment'].value_counts()

1    25000
Name: sentiment, dtype: int64

In [45]:
check_neg['sentiment'].value_counts()

0    25000
Name: sentiment, dtype: int64

In [47]:
check_unsup['sentiment'].value_counts() # -1

-1    50000
Name: sentiment, dtype: int64

In [48]:
imdb_master_filtered.drop(columns=['label'], axis=1, inplace=True)

C:\Users\shkim\AppData\Local\conda\conda\envs\python36\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [49]:
imdb_master_filtered.head()

                                              review  sentiment
0  Once again Mr. Costner has dragged out a movie...          0
1  This is an example of why the majority of acti...          0
2  First of all I hate those moronic rappers, who...          0
3  Not even the Beatles could write songs everyon...          0
4  Brass pictures (movies is not a fitting word f...          0

In [17]:
# imdb_master_filtered.csv 저장
imdb_master_filtered.to_csv('../../input/imdb_master_filtered.csv')