In [2]:
import numpy as np
import pandas as pd

In [3]:
train_i = pd.read_csv('../../input/train_identity.csv')
train_t = pd.read_csv('../../input/train_transaction.csv')

test_i = pd.read_csv('../../input/test_identity.csv')
test_t = pd.read_csv('../../input/test_transaction.csv')

In [4]:
train_t.shape

(590540, 394)

In [5]:
train_i.shape

(144233, 41)

In [6]:
def make_summary(df) :
    print(f"Dataset shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes, columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values
    summary['Uniques'] = df.nunique().values
    
    return summary

In [7]:
summary_t = make_summary(train_t)
summary_t.head(10)

Dataset shape: (590540, 394)

             Name   dtypes  Missing  Uniques
0   TransactionID    int64        0   590540
1         isFraud    int64        0        2
2   TransactionDT    int64        0   573349
3  TransactionAmt  float64        0    20902
4       ProductCD   object        0        5
5           card1    int64        0    13553
6           card2  float64     8933      500
7           card3  float64     1565      114
8           card4   object     1577        4
9           card5  float64     4259      119

In [11]:
M_list = ["M" + str(i+1) for i in range(9)]

In [13]:
summary_t[(summary_t['Missing'] > 0) & (summary_t['Name'].isin(M_list))]

   Name  dtypes  Missing  Uniques
46   M1  object   271100        2
47   M2  object   271100        2
48   M3  object   271100        2
49   M4  object   281444        3
50   M5  object   350482        2
51   M6  object   169360        2
52   M7  object   346265        2
53   M8  object   346252        2
54   M9  object   346252        2

In [7]:
def get_feature_info(feature_name):
    print(summary_t[summary_t.Name == feature_name])
    print()
    print("first 5 data :\n", train_t[feature_name].head())
    print()
    print("value count :\n", train_t[feature_name].value_counts())

In [28]:
get_feature_info('M9')

   Name  dtypes  Missing  Uniques
54   M9  object   346252        2

first 5 data :
 0    NaN
1    NaN
2      F
3    NaN
4    NaN
Name: M9, dtype: object

value count :
 T    205656
F     38632
Name: M9, dtype: int64

In [81]:
C_list = ["C" + str(i+1) for i in range(14)]
D_list = ["D" + str(i+1) for i in range(15)]
M_list = ["M" + str(i+1) for i in range(9)]
V_list = ["V" + str(i+1) for i in range(339)]

In [1]:
summary_t[summary_t.Name.isin(M_list)]

NameError: name 'summary_t' is not defined